<style>
  .project-card {
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }

  .project-card:hover {
    transform: translateY(-5px);
  }
</style>

{% extends 'base.html' %} {% block content %}
<div class="project-card">
  <div class="container mt-4">
    <h2>Add Milestone</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.name.label }} <br />
        {{ form.name(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.deadline.label }} <br />
        {{ form.deadline(type="datetime-local") }}
      </div>
      <div class="form-group">{{ form.status.label }} {{ form.status() }}</div>
      <button type="submit" class="btn btn-success mt-3">Add</button>
    </form>
  </div>
</div>
{% endblock %}
