{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
  <h2 class="mb-4">Project Dashboard</h2>
  <h4>Welcome, {{ current_user.username }}!</h4><a href="{{ url_for('main.logout') }}" class="btn btn-outline-danger btn-sm float-end mb-3">Logout</a>


  <a href="{{ url_for('main.add_project') }}" class="btn btn-primary mb-4">Add Project</a>

  <div class="row">
    {% for project in projects %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Assigned to: {{ project.user.username }}</h6>
          <p><strong>Deadline:</strong> {{ project.deadline.strftime('%Y-%m-%d %H:%M') if project.deadline else 'N/A' }}</p>


          {% if project.milestones %}
            {% set urgent = project.milestones|sort(attribute='deadline', reverse=False)|first %}
            <p>
              <strong>Prioritized Milestone:</strong> {{ urgent.name }}
            
                            {% if urgent.status == 'Completed' %}
                                <span class="badge bg-success ms-4">Completed</span>
                            {% elif urgent.status == 'Pending' %}
                                <span class="badge bg-danger ms-4">Pending</span>
                            {% elif urgent.status == 'In Progress' %}
                                <span class="badge bg-warning text-dark ms-4">In Progress</span>
                            {% else %}
                                <span class="badge bg-secondary ms-4">Unknown</span>
                            {% endif %}
              </p>
          {% else %}
            <p class="text-muted">No milestones yet.</p>
          {% endif %}

          <a href="{{ url_for('main.project_detail', project_id=project.id) }}" class="btn btn-primary btn-sm mt-2">View Details</a>
        </div>
      </div>
    </div>

  {% endfor %}
</div>



{% endblock %}
